In [21]:
import pandas as pd

df=pd.read_csv('data\Clean_Dataset.csv')
df

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [22]:
df.airline.value_counts()

Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: airline, dtype: int64

In [23]:
df.source_city.value_counts()

Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: source_city, dtype: int64

In [24]:
df.destination_city.value_counts()

Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: destination_city, dtype: int64

In [25]:
df.departure_time.value_counts()

Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: departure_time, dtype: int64

In [26]:
df.arrival_time.value_counts()

Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: arrival_time, dtype: int64

In [27]:
df.stops.value_counts()

one            250863
zero            36004
two_or_more     13286
Name: stops, dtype: int64

In [28]:
df['class'].value_counts()

Economy     206666
Business     93487
Name: class, dtype: int64

In [29]:
df['duration'].min()

0.83

In [30]:
df['duration'].max()

49.83

In [31]:
df['duration'].median()

11.25

## PreProcessing

In [32]:
df=df.drop('Unnamed: 0',axis=1)
df=df.drop('flight',axis=1)
df['class']=df['class'].apply(lambda x: 1 if x=='business' else 0 )

In [33]:
df.stops=pd.factorize(df.stops)[0]

In [34]:
df=df.join(pd.get_dummies(df.airline,prefix='airline')).drop('airline',axis=1)
df=df.join(pd.get_dummies(df.source_city,prefix='source')).drop('source_city',axis=1)
df=df.join(pd.get_dummies(df.destination_city,prefix='dest')).drop('destination_city',axis=1)
df=df.join(pd.get_dummies(df.arrival_time,prefix='arrrival')).drop('arrival_time',axis=1)
df=df.join(pd.get_dummies(df.departure_time,prefix='depature')).drop('departure_time',axis=1)

In [35]:
df

,stops,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,...,arrrival_Evening,arrrival_Late_Night,arrrival_Morning,arrrival_Night,depature_Afternoon,depature_Early_Morning,depature_Evening,depature_Late_Night,depature_Morning,depature_Night
0,0,0,2.17,1,5953,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
1,0,0,2.33,1,5953,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
2,0,0,2.17,1,5956,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,2.25,1,5955,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,2.33,1,5955,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,1,0,10.08,49,69265,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
300149,1,0,10.42,49,77105,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
300150,1,0,13.83,49,79099,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
300151,1,0,10.00,49,81585,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
300152,1,0,10.08,49,81585,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

## TRAINING REGRESSION MODEL

In [36]:
from  sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X,y= df.drop('price',axis=1),df.price
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [38]:
reg = RandomForestRegressor(n_jobs=-1)
reg.fit(X_train,y_train)

RandomForestRegressor(n_jobs=-1)

In [39]:
reg.score(X_test,y_test)

-0.3354509457730681